[submodule "minibufexpl"]
        path = bundle/minibufexpl.vim
        url = https://github.com/fholgado/minibufexpl.vim.git

[submodule "nerdtree "]
        path = bundle/nerdtree
        url = https://github.com/scrooloose/nerdtree.git

[submodule "tabular "]
        path = bundle/tabular
        url = https://github.com/godlygeek/tabular.git

[submodule "powerline "]
        path = bundle/vim-powerline
        url = https://github.com/Lokaltog/vim-powerline.git

[submodule "vundle "]
        path = bundle/vundle
        url = https://github.com/gmarik/vundle.git

[submodule "yaifa "]
        path = bundle/yaifa.vim
        url = https://github.com/vim-scripts/yaifa.vim.git
